<ul class="nav nav-tabs">
  <li class="active">
    
    <%= link_to "Mailbox", mailbox_dashboard_index_path %>
  </li>
  <li><%= link_to "Selling", my_posts_dashboard_index_path %></li>
  <li><%= link_to "Saved", saved_posts_dashboard_index_path %></li>
  <li><%= link_to "Account", account_dashboard_index_path %></li>
</ul>


		<div class="container">

	
	<table class="table">
		<h3>Inbox <%= @number_unread_messages%></h3>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Sent </th>
  </tr>
	<% @conversations.each do |c| %>
	<% if c.is_unread?(current_user) %>
  <tr class = "warning">
    <td><%= c.last_sender.username %></td>
	<td><b><%= link_to c.subject, c%></b></td>
	<td><%= time_or_date(c.last_message.created_at) %></td>
  </tr>
  	<% end %>
	<% if c.is_read?(current_user) %>  <tr>
    <td><%= c.last_sender.username %></td>
	<td><%= link_to c.subject, c%></td>
	<td><%= time_or_date(c.last_message.created_at) %></td>
  </tr>
  <% end %>
<% end %>
</table>
<%= paginate @conversations %>
<%= link_to "New Message", new_conversation_path%>
<br />
</div>
