= simple_form_for :message, url: [:reply, conversation] do |f|
  = f.input :subject
  </br>
  = f.input :body, as: :text, :input_html => { :cols => 50, :rows => 3 }
  
  .form-actions
    = f.button :submit, class: 'btn-primary', value: 'Send Message'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
