
- conversation.mark_as_read(current_user)
.container
  .well
    = content_tag_for(:tr,conversation.receipts_for(current_user)) do |receipt|
      - message = receipt.message
      %h5= message.subject 
      %p From: #{get_sender(message.sender_id)}
      %p Sent: #{message.created_at}
      <hr>
      %p= message.body
      </br>
      </br>
    </br>
    </br>
    %h4 Reply
    = render 'messages/form', conversation: conversation
