<script>
var counter = 1;
var numBoxes = 4;
function toggle4(showHideDiv) {
       var ele = document.getElementById(showHideDiv + counter);
       if(ele.style.display == "block") {
              ele.style.display = "none";
       }
       else {
              ele.style.display = "block";
       }
       if(counter == numBoxes) {
                document.getElementById("toggleButton").style.display = "none";
       }
}
</script>

<div class = "span2"> </div>
<div class= "container well">
  <%= bootstrap_form_for(@post, html: { class: 'form-horizontal' }, help: :block) do |f| %>
    <%= f.alert_message "You need to give us more information" %>

    <%= f.text_field :title, label: 'Title' %>
    <%= f.text_field :price, prepend: '$', label: 'Price', :class => "span1" %>
   
    <%= f.select :location, ["city of chicago", "north chicago", "south chicago", "west chicago", "northwest suburbs", "northwest indiana" ] %>
    <%= f.text_field :street, label: "Street or Intersection (Optional)" %>
    <%= f.select :category, ["Antiques", "Art", "Baby", "Auto Parts", "Books", "Bicycles", "Boats", "Automobiles", "Cellphones", "Clothing & Accesories", "Collectibles", "Computers", "Electronics", "Furniture", "Garage & Estate Sales", "Health & Beauty", "Jewelery", "Musical Instruments", "Sporting Goods", "Tickets", "Tools", "Toys & Games" ] %>
    <%= f.text_area :description, label: 'Description', :rows => 8, :cols => 40 %> <p class= "offset7" id="count">

    <p id="count"></p>


    <%= f.file_field :photo %>
    <div><input id="toggleButton" type="button" value="ADD ADDITIONAL PHOTOS" onclick="counter++; toggle4('photo');" class = "pull-right button-small blue_normal rounded3"></div>
    <div id = "photo2" style = "display: none;"><%= f.file_field :photo2 %></div>
    <div id = "photo3" style = "display: none;"><%= f.file_field :photo3 %></div>
    <div id = "photo4" style = "display: none;"><%= f.file_field :photo4 %></div>

    <%= f.text_field :tag_list, label: "Tags    (separated by commas)" %>

    <div class="actions">
      <%= f.submit 'SUBMIT', :class => 'button-small blue_normal rounded3' %>
    </div>
    </div>
  <% end %>


 
<script>
maxCharacters = 200;

$('#count').text(maxCharacters + " Characters Left");

$('textarea').bind('keyup keydown', function() {
    var count = $('#count');
    var characters = $(this).val().length;

    if (characters > maxCharacters) {
        count.addClass('over');
    } else {
        count.removeClass('over');
    }

    count.text(maxCharacters - characters + " Characters Left");
});


</script>