
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<li class="nav-header">Search</li>
<li>
    <input id="q" name="q" type="text" placeholder="Search" class="input-medium"></li></br>

<!-- Prepended text-->
<li class="nav-header">Search by Location</li>
<select id="loc" name="loc" class="span10"><option value="city of chicago">city of chicago</option>
<option value="north chicago" onclick=this.form.submit()>north chicago</option>
<option value="south chicago" onclick=this.form.submit()>south chicago</option>
<option value="west chicago" onclick=this.form.submit()>west chicago</option>
<option value="northwest suburbs" onclick=this.form.submit()>northwest suburbs</option>
<option value="northwest indiana" onclick=this.form.submit()>northwest indiana</option></select>
</br>

<li class="nav-header">Search by Price</li>
    Min  <div class="input-prepend" style="margin-left: 3px">
      <span class="add-on">$</span>
      <input id="min" name="min" class="input-mini" type="text">
    </div>
    </bR>    Max <div class="input-prepend">
      <span class="add-on">$</span>
      <input id="max" name="max" class="input-mini" placeholder="<%=params[:max]%>" type="text">
    </div></br>
</br><div align="center"><button id="seach-btn" name="seach-btn" class="button-small purple_light rounded3" style= "font-size:16px" >SEARCH</button></div></br>
  <div class="">
<label class="radio" for="All">
      <input type="radio" name="cat" id="" value="" onclick=this.form.submit()>
      Search all categories
    </label></br>

<!-- Multiple Radios -->
<li class="nav-header">Search by Category</li>

    <label class="radio" for="Antiques">
      <input type="radio" name="cat" id="Antiques" value="Antiques" onclick=this.form.submit()>
      Antiques
    </label></br>
    <label class="radio" for="Baby">
      <input type="radio" name="cat" id="Baby" value="Baby" onclick=this.form.submit()>
      Baby
    </label></br>
    <label class="radio" for="Auto Parts">
      <input type="radio" name="cat" id="Auto Parts" value="Auto Parts" onclick=this.form.submit()>
      Auto Parts
    </label></br>
    <label class="radio" for="Books">
      <input type="radio" name="cat" id="Books" value="Books" onclick=this.form.submit()>
      Books
    </label></br>
    <label class="radio" for="Bicycles">
      <input type="radio" name="cat" id="Bicycles" value="Bicycles" onclick=this.form.submit()>
      Bicycles
    </label></br>
    <label class="radio" for="Boats">
      <input type="radio" name="cat" id="Boats" value="Boats" onclick=this.form.submit()>
      Boats
    </label></br>
    <label class="radio" for="Cellphones">
      <input type="radio" name="cat" id="Cellphones" value="Cellphones" onclick=this.form.submit()>
      Cellphones
    </label></br>
    <label class="radio" for="cat-7">
      <input type="radio" name="cat" id="Clothing &amp; Accesories" value="Clothing &amp; Accesories" onclick=this.form.submit()>
      Clothing &amp; Accesories
    </label></br>
    <label class="radio" for="Collectible">
      <input type="radio" name="cat" id="Collectible" value="Collectible" onclick=this.form.submit()>
      Collectible
    </label></br>
    <label class="radio" for="Computers">
      <input type="radio" name="cat" id="Computers" value="Computers" onclick=this.form.submit()>
      Computers
    </label></br>
    <label class="radio" for="Electronics">
      <input type="radio" name="cat" id="Electronics" value="Electronics" onclick=this.form.submit()>
      Electronics
    </label></br>
    <label class="radio" for="Furniture">
      <input type="radio" name="cat" id="Furniture" value="Furniture" onclick=this.form.submit()>
      Furniture
    </label></br>
    <label class="radio" for="Garage &amp; Estate Sales">
      <input type="radio" name="cat" id="Garage &amp; Estate Sales" value="Garage &amp; Estate Sales" onclick=this.form.submit()>
      Garage &amp; Estate Sales
    </label></br>
    <label class="radio" for="Health &amp; Beauty">
      <input type="radio" name="cat" id="Health &amp; Beauty" value="Health &amp; Beauty" onclick=this.form.submit()>
      Health &amp; Beauty
    </label></br>
    <label class="radio" for="Jewelery">
      <input type="radio" name="cat" id="Jewelery" value="Jewelery" onclick=this.form.submit()>
      Jewelery
    </label></br>
    <label class="radio" for="Musical Instruments">
      <input type="radio" name="cat" id="Musical Instruments" value="Musical Instruments" onclick=this.form.submit()>
      Musical Instruments
    </label></br>
    <label class="radio" for="Sporting Goods">
      <input type="radio" name="cat" id="Sporting Goods" value="Sporting Goods" onclick=this.form.submit()>
      Sporting Goods
    </label></br>
    <label class="radio" for="Tickets">
      <input type="radio" name="cat" id="Tickets" value="Tickets" onclick=this.form.submit()>
      Tickets
    </label></br>
    <label class="radio" for="Tools">
      <input type="radio" name="cat" id="Tools" value="Tools" onclick=this.form.submit()>
      Tools
    </label></br>
    <label class="radio" for="Toys &amp; Games">
      <input type="radio" name="cat" id="Toys &amp; Games" value="Toys &amp; Games" onclick=this.form.submit()>
      Toys &amp; Games
    </label>
  </div>


</fieldset>
</form>

<script type="text/javascript" language="javascript">
$('input#min.input-mini').val("<%=params[:min] %>")
$('input#max.input-mini').val("<%=params[:max] %>")
$('input#q.input-medium').val(" <%= @query_string %>")
$('select#loc').val("<%= params[:loc] %>")
cat = document.getElementById("<%= params[:cat] %>")
cat.checked = true
</script>
