<script src="/assets/jquery.cycle.all.js?body=1" type="text/javascript"></script>

<script type="text/javascript">//<![CDATA[ 
$(window).load(function(){
$(".my-link").click(function() {
    $(this).closest("div").next(".class2").toggle();
});
});//]]>  




</script>

<script type="text/javascript">//<![CDATA[ 



jQuery(function($){


    // Cycle plugin
    $('.slides').cycle({
        fx:     'none',
        speed:   500,
        timeout: 700,
        delay:  -4000,
        height:  'auto',
        fit: 1
    }).cycle("pause");
    
    

    // Pause & play on hover
    $('.slideshow-block').hover(function(){
        $(this).find('.slides').addClass('active').cycle('resume');
    }, function(){
        $(this).find('.slides').removeClass('active').cycle('pause');
    });

});

</script>



<div style="display:inline-block">
	<div class="row-fluid">
		<div>
			<div class="well sidebar-nav span3 offset1" style= "width:250px">
				<ul class="nav nav-list">
					<%= render 'side_search' %>

			</ul>
		
		</div><!--/.well -->
	</div><!--/span-->
	<div class = "span5">
		<% if flash[:notice] %>
		    <div class="alert span5">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
		    	<%= flash[:notice] %></br></div>
		  <% end %>

<!-- 		<div style= "font-size:20px">
			<b><%= @posts.count%></b> 
			<% if params[:q].present?  %>
			results for "<%=params[:q].strip %>" 
				<%else%>
				 results 
				
			<% end %>
				<% if params[:location].present? %>
				around <%= params[:location]%>
				<% end %>
				<% if params[:min].present? %>
				for at least $<%= params[:min] %> 
				<% end %>
				<% if params[:max].present?  %>
				but under $<%= params[:max] %>
				<% end %>
				<% if params[:cat].present? %>
				in <b><%=params[:cat]%></b>.
				<%else %>
				in All Categories.
				<%end %>
				</br>
			
		</div>  -->
		<%# @post = @search.results%>
		
		
		<table class = "post span5 offset1">

			<% @posts.each do |post| %>

			<tr class = "well well-small marginbottom listing" id = <%= post.id %> >
				
					<td> 
                        
                        <div class = 'thumbnail post' style= 'width: 160px'>
						<div class = "slideshow-block" style="background: url(<%= post.photo.url(:thumb) %>) no-repeat">
						
							<div class = "slides" >
           						 	<%= image_tag post.photo.url(:thumb) %>
           						  	<% if post.photo2.present? %> 
              							<%= image_tag post.photo2.url(:thumb) %>
            						<% end %>
            						<% if post.photo3.present? %> 
            							<%= image_tag post.photo3.url(:thumb) %>
           					 		<% end %>
           				  		      <% if post.photo4.present? %> 
           			   			   		<%= image_tag post.photo4.url(:thumb) %>
           		   					<% end %>
        	  					</div>
  		    				</div>
                        



					</td>
					<td class= 'listing-title' style="word-wrap: break-word"><div class= "post" style="width:400px"><%= link_to post.title, post , :class => "post-title"%></br><div style= "color:grey" >
                        <%= link_to post.category, posts_path(:q => params[:q], :min => params[:min], :max => params[:max], :cat => post.category), :style => 'color: grey;'%>


                         in <%= link_to post.location, posts_path(:q => params[:q], :min => params[:min], :max => params[:max], :cat => params[:cat], :loc => post.location), :style => 'color: grey;'%> 

                         <% if post.street.present? %> > 

                         <%= post.street %> 

                         <%end%></div><hr></div>
			
						<%= post.description %><p> <%= raw post.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(' ') %></p>

						
                        <% if user_signed_in? %>
						
						<div id = "reply">
							<div class="container">
							<div class="class1">
							<!-- <a href="#" class="my-link">Reply</a> -->
							</div>
							<div class="class2" style = "display:none">
								Ask @<%= User.find(post.user_id).username %> a question:  </br>
                                <%= form_for :comment, :controller => "comments_controller", :url => url_for(:controller => 'comments', :action => 'create') do |f| %>
								<%= f.text_field :text %>
								<%= f.hidden_field :post_id, :value => post.id %>
								<%end %>

								<% post.comments.each do |comment| %>
								<b><%= comment.user_name %></b> wrote 
								<p><%= comment.text %></p>
								<hr>

								<%end %>
							
							</div>
							</div>
							
						<%end%>
							
						
						

						<td class = "price" ><b>$<%= link_to post.price, posts_path(:min => post.price), :class => 'price', :style => 'color: black;' %></b></td></td>
				
					

				</tr>
                </div>
    			
				<% end %>
				
			</table>
		

		</div>
	</div>






	<div class= 'container'> 
        <div class= 'row-fluid'>
            <div class = "span6"> 
                <%= paginate @posts %>
            </div>
        </div>
    </div>
	<%= link_to 'New Post', new_post_path %>
</div>

<script>
$('.listing').click(function(evt) {
  //location.href= "posts/" + this.id;
  $(evt.target).children("div").find(".class2").toggle();
});

$('.listing').css('cursor','pointer');
</script>